*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  background-color:aliceblue;
}
.App {
  text-align: center;
  margin:0 auto;
}
.header{
  background-color:lightcoral;
  height: 50px;
}
.header a{
  display:inline-block;
  margin:0 10px;
}

.home{
  background-color:lightskyblue;
  height: 200px;
}
.footer{
  background-color:lightgrey;
  height:100px
}